<a href="https://colab.research.google.com/github/bhuvanesh-ctrl/BigData/blob/main/016785886_B6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488493 sha256=f41fe76cfa899b0e07832f7ad86807ab94e0e4eeb8d2a14f4d5ae9e987462de2
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Poker Hand Classification") \
    .getOrCreate()

In [3]:
from pyspark.sql.types import StructType, StructField, IntegerType

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
schema = StructType([
    StructField("Card_rank1", IntegerType(), True),
    StructField("Card_suit1", IntegerType(), True),
    StructField("Card_rank2", IntegerType(), True),
    StructField("Card_suit2", IntegerType(), True),
    StructField("Card_rank3", IntegerType(), True),
    StructField("Card_suit3", IntegerType(), True),
    StructField("Card_rank4", IntegerType(), True),
    StructField("Card_suit4", IntegerType(), True),
    StructField("Card_rank5", IntegerType(), True),
    StructField("Card_suit5", IntegerType(), True),
    StructField("Poker_hand", IntegerType(), True)
])
train_df = spark.read.format("csv") \
    .option("header", "false") \
    .schema(schema) \
    .load("/content/drive/MyDrive/Big data/poker-hand-training-true.data")

# Show the schema of the DataFrame
print("Schema:")
train_df.printSchema()

Schema:
root
 |-- Card_rank1: integer (nullable = true)
 |-- Card_suit1: integer (nullable = true)
 |-- Card_rank2: integer (nullable = true)
 |-- Card_suit2: integer (nullable = true)
 |-- Card_rank3: integer (nullable = true)
 |-- Card_suit3: integer (nullable = true)
 |-- Card_rank4: integer (nullable = true)
 |-- Card_suit4: integer (nullable = true)
 |-- Card_rank5: integer (nullable = true)
 |-- Card_suit5: integer (nullable = true)
 |-- Poker_hand: integer (nullable = true)

In [6]:
train_df.describe().show()

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+
|summary|        Card_rank1|        Card_suit1|        Card_rank2|       Card_suit2|        Card_rank3|        Card_suit3|       Card_rank4|       Card_suit4|        Card_rank5|        Card_suit5|        Poker_hand|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+
|  count|             25010|             25010|             25010|            25010|             25010|             25010|            25010|            25010|             25010|             25010|             25008|
|   mean|2.5087564974010395| 6.995081967213115|2.4980407836865255|7.013874450219912| 2.510235905637745| 7.014194322271091|2.496081567373051|6.942263094762096|2.4975209916033587| 6.962415033986406|0.6211212412028151|
| stddev| 1.116483112567376|3.7498898118188055|1.1230503607476516|3.766974779182304|1.1231478345904726|3.7449365285364666|1.116510575513112| 3.74722432046903|1.1190902561360616|3.7418746932304936|0.7883850050320249|
|    min|                 1|                 1|                 1|                1|                 1|                 1|                1|                1|                 1|                 1|                 0|
|    max|                 4|                13|                11|               13|                 4|                13|                8|               13|                 7|                13|                 9|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+-----------------+------------------+------------------+------------------+

In [7]:
schema = StructType([
    StructField("Card_rank1", IntegerType(), True),
    StructField("Card_suit1", IntegerType(), True),
    StructField("Card_rank2", IntegerType(), True),
    StructField("Card_suit2", IntegerType(), True),
    StructField("Card_rank3", IntegerType(), True),
    StructField("Card_suit3", IntegerType(), True),
    StructField("Card_rank4", IntegerType(), True),
    StructField("Card_suit4", IntegerType(), True),
    StructField("Card_rank5", IntegerType(), True),
    StructField("Card_suit5", IntegerType(), True),
    StructField("Poker_hand", IntegerType(), True)
])
test_df = spark.read.format("csv") \
    .option("header", "false") \
    .schema(schema) \
    .load("/content/drive/MyDrive/Big data/poker-hand-testing.data")

# Show the schema of the DataFrame
print("Schema:")
test_df.printSchema()

Schema:
root
 |-- Card_rank1: integer (nullable = true)
 |-- Card_suit1: integer (nullable = true)
 |-- Card_rank2: integer (nullable = true)
 |-- Card_suit2: integer (nullable = true)
 |-- Card_rank3: integer (nullable = true)
 |-- Card_suit3: integer (nullable = true)
 |-- Card_rank4: integer (nullable = true)
 |-- Card_suit4: integer (nullable = true)
 |-- Card_rank5: integer (nullable = true)
 |-- Card_suit5: integer (nullable = true)
 |-- Poker_hand: integer (nullable = true)

In [8]:
test_df.describe().show()

+-------+----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+
|summary|      Card_rank1|        Card_suit1|        Card_rank2|        Card_suit2|        Card_rank3|       Card_suit3|        Card_rank4|        Card_suit4|        Card_rank5|       Card_suit5|        Poker_hand|
+-------+----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+
|  count|         1000000|           1000000|           1000000|           1000000|           1000000|          1000000|           1000000|           1000000|           1000000|          1000000|           1000000|
|   mean|        2.500493|          6.997927|          2.499894|          7.006097|          2.500871|         6.998873|          2.500393|          7.002298|          2.499451|         6.989481|          0.616902|
| stddev|1.11776786783126|3.7433742419803284|1.1185683885928626|3.7434809790141372|1.1182247054083017|3.741890128212345|1.1172453149546224|3.7412699336317177|1.1189481447520144|3.739894161262771|0.7733773467774433|
|    min|               1|                 1|                 1|                 1|                 1|                1|                 1|                 1|                 1|                1|                 0|
|    max|               4|                13|                 4|                13|                 4|               13|                 4|                13|                 4|               13|                 9|
+-------+----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+

Performing Necessary transformations from B5 assignment.

In [9]:
# Drop duplicates
train_df = train_df.dropDuplicates()
test_df = test_df.dropDuplicates()

# Drop tuples with missing fields
train_df = train_df.dropna()
test_df = test_df.dropna()

In [10]:
train_df.describe().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|summary|        Card_rank1|        Card_suit1|        Card_rank2|        Card_suit2|       Card_rank3|        Card_suit3|        Card_rank4|       Card_suit4|        Card_rank5|        Card_suit5|        Poker_hand|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|  count|             25006|             25006|             25006|             25006|            25006|             25006|             25006|            25006|             25006|             25006|             25006|
|   mean| 2.508677917299848| 6.995001199712069| 2.497760537471007|7.0143565544269375|2.510157562185076|7.0141566024154205|2.4960009597696553|6.942773734303767|2.4973606334479723| 6.963248820283132|0.6210909381748381|
| stddev|1.1164476631714146|3.7496457215837133|1.1218035901818768|3.7670300950126565|1.123184975981317|3.7451561120531642|1.1159726362479054|3.747227778684707|1.1188041327841043|3.7415784295942167|0.7884092514289233|
|    min|                 1|                 1|                 1|                 1|                1|                 1|                 1|                1|                 1|                 1|                 0|
|    max|                 4|                13|                 4|                13|                4|                13|                 4|               13|                 4|                13|                 9|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+

In [11]:
test_df.describe().show()

+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+
|summary|       Card_rank1|       Card_suit1|        Card_rank2|        Card_suit2|        Card_rank3|        Card_suit3|       Card_rank4|       Card_suit4|        Card_rank5|       Card_suit5|        Poker_hand|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+
|  count|           997872|           997872|            997872|            997872|            997872|            997872|           997872|           997872|            997872|           997872|            997872|
|   mean|2.500514093992015|6.998013773309602| 2.499900788878734| 7.006096974361441| 2.500835778536726| 6.998898656340693|2.500432921256434|7.002382069042923|  2.49941174820017|6.989308247951641|0.6169057754902433|
| stddev|1.117767290979125|3.743472584379404|1.1185498184693323|3.7434129992491982|1.1182108006794331|3.7418408186516077|  1.1172516905698|3.741203564091058|1.1189679856584687|3.739869577025114| 0.773394829357094|
|    min|                1|                1|                 1|                 1|                 1|                 1|                1|                1|                 1|                1|                 0|
|    max|                4|               13|                 4|                13|                 4|                13|                4|               13|                 4|               13|                 9|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+

In [12]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml import Pipeline

# VectorAssembler to combine features
assembler = VectorAssembler(
    inputCols=["Card_rank1", "Card_suit1", "Card_rank2", "Card_suit2",
               "Card_rank3", "Card_suit3", "Card_rank4", "Card_suit4",
               "Card_rank5", "Card_suit5"],
    outputCol="features"
)

In [13]:
# Random Forest classifier
rf = RandomForestClassifier(labelCol="Poker_hand", featuresCol="features")

# Pipeline
pipeline = Pipeline(stages=[assembler, rf])

# Train the model
model = pipeline.fit(train_df)

In [14]:
test_features_df = test_df.drop("Poker_Hand")

In [15]:
test_features_df.describe().show()

+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+
|summary|       Card_rank1|       Card_suit1|        Card_rank2|        Card_suit2|        Card_rank3|        Card_suit3|       Card_rank4|       Card_suit4|        Card_rank5|       Card_suit5|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+
|  count|           997872|           997872|            997872|            997872|            997872|            997872|           997872|           997872|            997872|           997872|
|   mean|2.500514093992015|6.998013773309602| 2.499900788878734| 7.006096974361441| 2.500835778536726| 6.998898656340693|2.500432921256434|7.002382069042923|  2.49941174820017|6.989308247951641|
| stddev|1.117767290979125|3.743472584379404|1.1185498184693323|3.7434129992491982|1.1182108006794331|3.7418408186516077|  1.1172516905698|3.741203564091058|1.1189679856584687|3.739869577025114|
|    min|                1|                1|                 1|                 1|                 1|                 1|                1|                1|                 1|                1|
|    max|                4|               13|                 4|                13|                 4|                13|                4|               13|                 4|               13|
+-------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+

In [16]:
from pyspark.sql.functions import monotonically_increasing_id

# Add a unique identifier column to the test DataFrame
test_df_with_id = test_df.withColumn("id", monotonically_increasing_id())

# Calculate the total number of records in the test DataFrame
total_records = test_df_with_id.count()
print("Total records:", total_records)

Total records: 997872

In [17]:
# Initialize variables to store total correct predictions and total predictions
total_correct_predictions = 0
total_predictions = 0

# Iterate through the test DataFrame in batches of 50,000 records
batch_size = 50000
for i in range(0, total_records, batch_size):
    # Get the next batch of records
    batch_df = test_df_with_id.filter((test_df_with_id.id >= i) & (test_df_with_id.id < i + batch_size))

    # Make predictions on the current batch
    predictions = model.transform(batch_df)

    # Join predicted labels with the original testing DataFrame
    joined_df = predictions.join(batch_df.select("id", "Poker_Hand").withColumnRenamed("Poker_Hand", "target"), on="id")

    # Evaluate the predictions for the current batch
    correct_predictions = joined_df.filter(joined_df["prediction"] == joined_df["target"]).count()
    batch_predictions = joined_df.count()

    # Update total correct predictions and total predictions
    total_correct_predictions += correct_predictions
    total_predictions += batch_predictions

# Calculate the overall accuracy
accuracy = total_correct_predictions / total_predictions
print("Overall Accuracy:", accuracy)

Overall Accuracy: 0.5465335632686438

I have employed the concept of batch predictions, where the predictions are made for batches of 50,000 data records, these predictions are then averaged out to find the final overall accuracy of the test data.